<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- what config we are going to run (should match folder name) -->
    <arg name="verbosity"   default="INFO" /> <!-- ALL, DEBUG, INFO, WARNING, ERROR, SILENT -->
    <arg name="config"      default="miluv" />
    <arg name="config_path" default="$(find uvio)/../config/$(arg config)/estimator_config.yaml" />

    <arg name="spline_fname" default="spline_grid.bin" />
    <arg name="spline_config" default="$(find uvio)/../config/$(arg config)/$(arg spline_fname)" />

    <!-- UWB SETTINGS -->
    <arg name="config_uwb" default="uwb_config.yaml" />
    <arg name="uwb_anchors" default="uwb_anchors.yaml" />


    <!-- CAMERA SETTINGS -->
    <arg name="max_cameras" default="2" />
    <arg name="use_stereo"  default="true" />
    <arg name="num_pts"     default="200" />

    <!-- BAG SETTINGS -->
    <arg name="bag_start"   default="0" /> <!-- v1-2: 0, mh1: 40, mh2: 35, mh3: 17.5, mh4-5: 15 -->
    <arg name="bag_rate"    default="1" />
    <arg name="dataset"     default="1a" /> 
    <arg name="dobag"       default="true" /> <!-- if we should play back the bag -->
    <arg name="bag"         default="/root/datasets/$(arg config)/$(arg dataset)/ifo001_uncompressed.bag" />

    <!-- saving trajectory path and timing information -->
    <arg name="dosave"      default="true" />
    <arg name="dotime"      default="true" />
    <arg name="path_est"    default="/root/datasets/$(arg config)/results/traj_estimate.txt" />
    <arg name="path_time"   default="/root/datasets/$(arg config)/results/traj_timing.txt" />

    <!-- if we should viz the groundtruth -->
    <arg name="dolivetraj"  default="true" />
    <arg name="path_gt"     default="$(find ov_data)/$(arg config)/$(arg dataset).txt" />

    <!-- Nodelet -->
    <arg name="use_nodelet"             default="false"/>
    <arg name="enable_nodelet_manager"  default="false"/>
    <arg name="nodelet_manager_name"    default="nodelet_manager"/>

    <!-- Nodelet manager -->
    <group if="$(arg enable_nodelet_manager)">
        <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" if="$(arg use_nodelet)"/>
    </group>

    <!-- Debug server -->
    <!--<arg name="launchprefix"        default="gdbserver localhost:10000"/>-->
    <arg name="launchprefix"        default=""/>

    <!-- MASTER NODE! -->
    <node name="uvio" pkg="nodelet" type="nodelet" output="screen" args="load uvio/nodelet_uvio $(arg nodelet_manager_name)" clear_params="true" required="false" if="$(arg use_nodelet)">
        <!-- master configuration object -->
        <param name="verbosity"              type="string" value="$(arg verbosity)" />
        <param name="config_path"            type="string" value="$(arg config_path)" />
        <param name="spline_config"          type="string" value="$(arg spline_config)" />

        <!-- world/filter parameters -->
        <param name="use_stereo"             type="bool"   value="$(arg use_stereo)" />
        <param name="max_cameras"            type="int"    value="$(arg max_cameras)" />

        <!-- timing statistics recording -->
        <param name="record_timing_information"   type="bool"   value="$(arg dotime)" />
        <param name="record_timing_filepath"      type="string" value="$(arg path_time)" />
    </node>

    <node name="uvio" pkg="uvio" type="uvio" output="screen" clear_params="true" required="false" launch-prefix="$(arg launchprefix)" unless="$(arg use_nodelet)">
        
        <!-- master configuration object -->
        <param name="verbosity"              type="string" value="$(arg verbosity)" />
        <param name="config_path"            type="string" value="$(arg config_path)" />

        <param name="spline_config"          type="string" value="$(arg spline_config)" />

        <param name="config_uwb"            type="string" value="$(arg config_uwb)" />

        <param name="uwb_anchors" type="string" value="$(arg uwb_anchors)" />

        <!-- world/filter parameters -->
        <param name="use_stereo"             type="bool"   value="$(arg use_stereo)" />
        <param name="max_cameras"            type="int"    value="$(arg max_cameras)" />
        <param name="num_pts"                type="int"    value="$(arg num_pts)" />

        <!-- timing statistics recording -->
        <param name="record_timing_information"   type="bool"   value="$(arg dotime)" />
        <param name="record_timing_filepath"      type="string" value="$(arg path_time)" />

    </node>

    <!-- play the dataset -->
    <group if="$(arg dobag)">
        <node pkg="rosbag" type="play" name="rosbag" args="-d 1 -r $(arg bag_rate) -s $(arg bag_start) $(arg bag)" required="true"/>
    </group>

    <!-- record the trajectory if enabled -->
    <group if="$(arg dosave)">
        <node name="recorder_estimate" pkg="ov_eval" type="pose_to_file" output="screen" required="true">
            <param name="topic"      type="str" value="/uvio/poseimu" />
            <param name="topic_type" type="str" value="PoseWithCovarianceStamped" />
            <param name="output"     type="str" value="$(arg path_est)" />
        </node>
    </group>

    <!-- path viz of aligned gt -->
    <group if="$(arg dolivetraj)">
        <node name="live_align_trajectory" pkg="ov_eval" type="live_align_trajectory" output="log" clear_params="true">
            <param name="alignment_type" type="str" value="posyaw" />
            <param name="path_gt"        type="str" value="$(arg path_gt)" />

            <!-- NEW PARAMETERS -->
            <param name="sub_topic" type="str" value="/uvio/pathimu" />
            <param name="pub_topic" type="str" value="/uvio/pathgt" />
        </node>
    </group>

</launch>